.pagination {
  margin: 50px auto;
  width: 425px;
  height: 40px;
  text-align: center;
  display: flex;
  gap: 2px;
  border: none;
  border-top: 0.5px solid #ccc;
  border-bottom: 0.5px solid #ccc;
}
.page-active {
  background-color: rgb(244, 241, 241);
  color: #ed1e2b;
  border: none;
  border-bottom: 2px solid #ed1e2b;
  padding: 0 16px;
  font-size: 15px;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}
.page-btn {
  font-weight: 700;
  border: none;
  background-color: #fff;
  padding: 5px;
  padding: 0 16px;
  color: #ccc;
  font-size: 13px;
  transition: all 0.2s ease-in-out;
}
.page-img {
  width: 20px;
}
.pagination span {
  margin-top: 10px;
}
.pageID {
  text-align: center;
  margin-top: 200px;
}
